body
{
	background-color: #fffde7;
}

.space
{
    margin-left: 2%; 
    margin-right: 2%;
}

nav .brand-logo
{
	position: static;
	transform: translateX(0%);
	margin-top: 5px; 
}

.opacity
{
	opacity: 0.7;
}

.sign-up, .log-out
{
	border: 2px solid;
	border-radius: 8px;
	height: 40px;
	line-height: 40px;
}

.tmp
{
	margin-left: 20px; 
}

footer.page-footer
{
	margin-top: 0px;
	padding-top: 0px;
}

/* Login Page */

.content
{
    margin-top: 50px;
    min-height: 429px;
    margin-bottom: 50px;
}

.form
{
	margin-top: 80px;
    padding: 40px;
    border-radius: 10px;
}

.text-form
{
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: -5px;
}

/* Index Page */

.banner
{
	background: url('../picture/bg.png') no-repeat;
	background-size: cover;
	background-position: top center;
	overflow: hidden;
	height: 685px;
}

.wrapper
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.caption p
{
	font-weight: lighter;
	font-size: 50px;
	display: inline-block;
	padding: 20px;
	background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
}

p.detail
{
	font-size: 22px;
	margin-left: 20%;
	margin-right: 20%;
}

.top-bottom, .picture
{
	margin-top: 5%;
	margin-bottom: 5%;
}

.about, .feature, .about-us
{
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0px;
}

.icon-block
{
	margin: 5%;
}

.topic-home
{
	margin-bottom: 5%;
}

.info-text
{
	font-size: 18px;
}

.logo
{
	margin-top: 50px;
}

.mean
{
	background: url('../picture/background3.png') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 350px;
}

/* End of Index Page */

/* Device Page */

.page-header p
{
	font-size: 40px;
}

.divider
{
	height: 1.5px;
	margin-top: -15px;
}

.page-content
{
	margin: 20px;
	margin-top: 50px;
	padding: 20px 50px 20px 50px;
	border-radius: 10px;
}

input[type="text"]:focus:not([readonly]).search, 
textarea.materialize-textarea:focus:not([readonly]) 
{
    border-bottom: 0px;
    box-shadow: 0px 0px 0px 0px;
}

input[type="text"].search 
{
    background-color: white;
    border: 0px none;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    height: 46px;
    padding-left: 15px;
    outline: medium none;
    margin-top: 20px;
}

.search
{
	margin-top: 20px;
	background-color: #e0e0e0;
	border-radius: 5px;
}

.search .input-field
{
	margin-top: 0px;
}

.select-wrapper input.select-dropdown
{
	margin-top: 20px;
}

.card-detail
{
	margin-top: 20px;
}

.card .card-action 
{
    border-top: 1px solid #00838f;
}

/* End of Device Page */

/* Info Page */

.collection
{
	overflow: visible;
}

.content-text
{
	font-size: 18px;
}

.content-text .collection-item
{
	font-size: 14px;
}

.btn-content
{
	margin-top: 50px;
	margin-bottom: 20px;
}

.fixed-action-btn
{
	position: absolute;
	bottom: auto;
}

/* End of Info Page */

/* Data Page */

table
{
	font-size: 16px;
}

.no-info
{
    font-size: 40px;
    margin: 20px;
    padding: 40px;
}

.current
{
	background-color: #64b5f6;
	border-radius: 5px;
}

.axis
{
	font-size: 14px;
}

table
{
	margin-bottom: 50px;
}

/* End of Data Page */

/* API Page */

strong.topic
{
	font-size: 30px;
}

/* End of API Page */