.space
{
    margin-left: 2%; 
    margin-right: 2%;
}

nav .brand-logo
{
	position: static;
	transform: translateX(0%);
	margin-top: 5px; 
}

.opacity
{
	opacity: 0.7;
}

.sign-up
{
	border: 2px solid;
	border-radius: 8px;
	height: 40px;
	line-height: 40px;
}

.tmp
{
	margin-left: 20px; 
}

footer.page-footer
{
	margin-top: 0px;
	padding-top: 0px;
}

/* Index Page */

.banner
{
	background: url('../picture/bg.png') no-repeat;
	background-size: cover;
	background-position: top center;
	overflow: hidden;
	height: 685px;
}

.wrapper
{
	margin-top: 50px;
	margin-bottom: 50px;
}

.caption p
{
	font-weight: lighter;
	font-size: 50px;
	display: inline-block;
	padding: 20px;
	background: rgba(255, 255, 255, 0.6) none repeat scroll 0% 0%;
}

p.detail
{
	font-size: 22px;
	margin-left: 20%;
	margin-right: 20%;
}

.top-bottom, .picture
{
	margin-top: 5%;
	margin-bottom: 5%;
}

.about, .feature, .about-us
{
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0px;
}

.icon-block
{
	margin: 5%;
}

.topic-home
{
	margin-bottom: 5%;
}

.info-text
{
	font-size: 18px;
}

.mean
{
	background: url('../picture/background3.png') no-repeat;
	background-size: cover;
	background-position: center center;
	height: 350px;
}

/* End of Index Page */

/* Device Page */

input[type="text"]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) 
{
    border-bottom: 0px;
    box-shadow: 0px 0px 0px 0px;
}

input[type="text"] 
{
    background-color: #bdbdbd;
    border: 0px none;
    border-radius: 3px;
    box-sizing: border-box;
    color: black;
    height: 46px;
    padding-left: 15px;
    outline: medium none;
}

.select-wrapper input.select-dropdown
{
	background-color: #bdbdbd;
	border-width: 0px;
}