<div class="container content">
	<div class="page-header">
		<p class="blue-grey-text darken-4-text"><strong>API</strong></p>
		<div class="divider"></div>
	</div>

	<div class="page-content blue-grey lighten-5" ng-repeat="api in data">
		<div class="content-text">
			<p><strong class="topic">{{ api.method }}</strong></p>

			<div class="row">
				<div class="col s3">
					<p><strong>Description</strong></p>
				</div>

				<div class="col s9">
					<p class="light">{{ api.description }}</p>
				</div>
			</div>

			<div>
				<p><strong>Request</strong></p>

				<table class="striped centered api-table">
					<thead>
						<tr>
							<th data-field="method">Method</th>
							<th data-field="url">URL</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="request in api.request">
							<td class="light">{{ request.method }}</td>
							<td class="light">{{ request.url }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div ng-if="api.hasOwnProperty('header')">
				<p><strong>Request Header</strong></p>

				<table class="striped centered api-table">
					<thead>
						<tr>
							<th data-field="type">Type</th>
							<th data-field="param">Params</th>
							<th data-field="value">Values</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="header in api.header">
							<td class="light">{{ header.type }}</td>
							<td class="light">{{ header.params }}</td>
							<td class="light">{{ header.value }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<p><strong>Request Body</strong></p>

				<table class="striped centered api-table">
					<thead>
						<tr>
							<th data-field="body">Request Body</th>
							<th data-field="format">Data Format</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="body in api.body">
							<td class="light">{{ body.body }}</td>
							<td class="light">{{ body.format }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div>
				<p><strong>Response</strong></p>

				<table class="striped centered api-table">
					<thead>
						<tr>
							<th data-field="status">Status</th>
							<th data-field="response">Response</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="response in api.response">
							<td class="light">{{ response.status }}</td>
							<td class="light">{{ response.response }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>