<div class="container content">
	<div class="page-header">
		<p class="blue-grey-text darken-4-text"><strong>Gateway</strong></p>
		<div class="divider"></div>
	</div>

	<div class="page-content gateway-page">
		<div class="row">
			<ul class="collapsible collapsible-accordion" data-collapsible="accordion">
				<li>
					<div class="collapsible-header active"><i class="material-icons">settings</i>Develop Gateway</div>
					<div class="collapsible-body">
						<div class="row gateway">
							<div class="gateway content-text gateway-api blue-grey lighten-5">
								<p><strong class="topic">How to develop gateway</strong></p>
							
								<div class="row solution">
									<div class="col s3">
										<p><strong> Solution </strong></p>
									</div>

									<div class="col s9">
										<p class="light solution-content">1. Get data from device</p>
										<p class="light">2. Send data (Data table) to URL (Request table)</p>
									</div>
								</div>

								<div>
									<p><strong>Data</strong></p>

									<table class="striped centered api-table">
										<thead>
											<tr>
												<th data-field="method"> Type </th>
												<th data-field="url"> Data </th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td class="light"> Device </td>
												<td class="light"> device name </td>
											</tr>
											<tr>
												<td class="light"> Type </td>
												<td class="light"> type name </td>
											</tr>
											<tr>
												<td class="light"> Value </td>
												<td class="light"> value </td>
											</tr>
											<tr>
												<td class="light"> Date </td>
												<td class="light"> timestamp </td>
											</tr>
										</tbody>
									</table>
								</div>

								<div>
									<p><strong>Request</strong></p>

									<table class="striped centered api-table">
										<thead>
											<tr>
												<th data-field="method">Method</th>
												<th data-field="url">URL</th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td class="light"> POST </td>
												<td class="light"> http://localsite/data</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">present_to_all</i>Upload Gateway</div>
					<div class="collapsible-body">
						<div class="row gateway">
							<div class="card blue-grey lighten-5">
								<div class="card-content black-text">
									<span class="card-title">Upload Gateway</span>
								</div>

								<div class="row gateway">
									<div class="file-field input-field">
										<input class="file-path validate" type="text"/ ng-model="fileName">
										<div class="btn">
											<span>File</span>
											<input type="file" ngf-select="" ng-model="file">
										</div>
									</div>
								</div>

								<div class="card-action">
									<a></a>

										<div ng-show="show" class="row">
											<div class="col s12">
												<div class="progress">
										            <div class="indeterminate"></div>
										        </div>
											</div>
										</div>

										<a ng-hide="show" href="" ng-click="upload(file)" ngf-reset-model-on-click="true" class="right">Submit</a>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">system_update_alt</i>Download Gateway</div>
					<div class="collapsible-body">
						<div class="row gateway">
							<div class="content-inner blue-grey lighten-5">
								<table class="striped">
									<thead>
										<tr>
											<th data-field="gateway">Gateway</th>
											<th data-field="owner">Owner</th>
											<th data-field="download">Download</th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="gateway in gateways">
											<td>{{ gateway.name }}</td>
											<td>{{ gateway.user.name }}</td>
											<td><a target="_self"><button class="btn waves-effect waves-light" type="submit" name="action" download="{{ gateway.name }}" ng-click="download(gateway)">Download</button></a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</li>
			</ul>		
	    </div>
    </div>
</div>