<div class="container content">
    <div class="page-header">
        <p class="blue-grey-text darken-4-text"><strong>Local Site</strong></p>
        <div class="divider"></div>
    </div>

    <div class="page-content row form blue-grey lighten-5">
        <div class="row">
            <div class="input-field col s12">
                <input id="local_name" type="text" class="validate" ng-model="local_name">
                <label for="local_name">Local Name</label>
            </div>
        </div>

        <div class="row">
            <div class="search-wrapper card">
                <input id="search" type="text" class="validate search-wrapper" ng-model="searchPlace" required autofocus>

                <i class="material-icons search-icon" ng-disabled="searchForm.$invalid" ng-click="search()">search</i>
            </div>
        </div>

        <div class="alert red-text red lighten-4" ng-show="apiError">
            <b>API Error : </b>
            <span>{{ apiStatus }}</span>
        </div>

        <div class="row position">
            <div class="input-field col s6">
                <input disabled id="latitude" type="number" class="validate" ng-model="place.lat">
                <label for="latitude" class="lat-long">Latitude</label>
            </div>

            <div class="input-field col s6">
                <input disabled id="longitude" type="number" class="validate" ng-model="place.lng">
                <label for="longitude" class="lat-long">Longitude</label>
            </div>
        </div>

        <div id="map"></div>
        
        <div class="row">
            <a class="waves-effect waves-light btn right" href="" ng-click="save()">Save</a>
        </div>
    </div>
</div>
